@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Italianno&family=Orbitron&display=swap");

:root {
  --contentContainer-Height: calc(100vh - 340px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden !important;
  font-family: "Philosopher", sans-serif;
}

body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.App {
  width: 100vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


